ITBooksStore.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ITBooksStore.xcodeproj/project.xcworkspace/xcuserdata/pkh0225.xcuserdatad/UserInterfaceState.xcuserstate
ITBooksStore.xcodeproj/xcuserdata/pkh0225.xcuserdatad/xcschemes/xcschememanagement.plist
